<div class="ui inverted menu">
  <div class = "ui container">
    <%= link_to 'Home', root_path, class: 'item' %>
    <% if user_signed_in? %>
      <div class="right menu">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "ui item" %>
      </div>
    <%else%>
      <div class="right menu">
        <%= link_to 'Sign up', new_user_registration_path, class: "ui item" %>
      </div>
    <%end%>
  </div>
</div>
