<%= form_with url: import_keywords_path, multipart: true, class: 'ui form' do |f| %>
  <div class="fields">
    <div class="field">
      <%= f.file_field :file, class: 'ui small button' %>
    </div>
    <%= f.submit 'Upload CSV', class: 'ui submit button'%>
  </div>
<%end%>
